@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<SurveyPrompt Title="just for test"  />

<p> real time application </p>



@code 
{
    public void function()
    {


        Console.WriteLine("hello world ");


    }





}